@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    background-color: #fff;
    font-family: "Roboto", san-serif;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1em;
}
h1{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1em;
    color: #000;
}
h2{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1em;
    color: #000;
}
h3{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1em;
    color: #000;
}
h4{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1em;
    color: #000;
}
h5{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1em;
    color: #000;
}
h6{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1em;
    color: #000;
}
p{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1em;
    color: #000;
}
div{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1em;
    color: #000;
}
a{
    font-family: "Roboto", san-serif;
    letter-spacing: 0.1em;
    color: #000;
}
button{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1em;
    color: #fff;
    background-color: #000;
    border-radius: 4px;
    border-color: #000;
    border: 2px solid transparent;
}
button:hover{
    background-color: rgb(102, 102, 102);
}